* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  height: 200rem;
}

body a {
  text-decoration: none;
}

.feather {
  stroke-width: 0.2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  position: sticky-top;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar .navbar-logo a {
  font-style: italic;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav,
.navbar-extra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-nav a {
  color: black;
  margin: 0.5rem 1rem;
  font-weight: 600;
}

.navbar .navbar-extra .button {
  margin: 0.5rem;
}

.navbar .navbar-extra #menu {
  display: none;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#landing .container {
  color: white;
  text-align: center;
}

#landing .container h1 {
  line-height: 12rem;
  font-size: 5rem;
}

#landing .container a {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
}

#landing .container a:hover {
  color: black;
  background-color: white;
}

#profile {
  height: 100vh;
  background-color: grey;
}
